{% extends 'store/base_store_page.html' %}

{% block store_content %}
<h2>Контакты</h2>
<p>
Мы работаем 7 дней в неделю с 10:00 до 20.00.
Наш склад-магазин находится по адресу: Киев, пр. Григоренка 14
</p>

<p>Вы можете задать нам свои вопросы по:</p>
<p><strong>МТС:</strong> <span>(050) 707-72-64</span></p>
<p><strong>Киевстар:</strong> <span>(098) 902-51-18</span></p>
<p><strong>Life:</strong> <span>(093) 402-53-13</span></p>
<p><strong>Skype:</strong> <span>"""skype_login"""</span></p>
<p><strong>e-mail:</strong> <span>happysex2014@gmail.com</span></p>
{% endblock store_content %}
