{% extends 'store/base_store_page.html' %}

{% block store_content %}
<h2>Контакты</h2>
<p>
Мы работаем 7 дней в неделю с 10:00 до 20.00.
</p>

<p>Вы можете задать нам свои вопросы по:</p>
<p><strong>МТС:</strong> <span>(050) 555-55-55</span></p>
<p><strong>Киевстар:</strong> <span>(098) 555-55-55</span></p>
<p><strong>Life:</strong> <span>(093) 555-55-55</span></p>
<p><strong>Skype:</strong> <span>"""skype_login"""</span></p>
<p><strong>e-mail:</strong> <span>ask@question.com</span></p>
{% endblock store_content %}
