{% extends 'store/base_store_page.html' %}

{% block store_content %}
<h2>Способы доставки</h2>
<h4>Доставка товаров Новой Почтой по Украине:</h4>
<p>Отправка осуществляется через <a href="#">Новую Почту</a>, наложенным платежом</p>
<p>Доставка товаров Новой Почтой занимает ориентировочно 1-2 рабочих дня. Заказ Вы получаете и оплачиваете в 
отделении Новой Почты или, по Вашему желанию, курьер доставит заказ к Вам домой.</p> 
<p>Со списком отделений Новой Почты можно ознакомиться здесь.</p>

<h4>Курьерская доставка интим-товаров по Киеву:</h4>
<p>Мы осуществляем курьерскую доставку по Киеву на следующий день после 15.00.
Курьерская доставка работает Пн-Пт с 10:00 до 20:00. 
Заказ Вы оплачиваете при получении товара.
Доставка осуществляется БЕСПЛАТНО.</p> 

<h2>Способы оплаты</h2>
<ul>
  <li>
    <h4>Оплата при получении - Новая Почта:</h4>
    <p>Оплата наложенным платежом при получении товара.</p>
  </li>
  <li>
    <h4>Оплата картой Visa или MasterCard на сайте.</h4>
  </li>  
  <li>
    <h4>Оплата курьеру при получении:</h4>
    <p>Вы можете оплатить доставку наличными курьеру.</p>
  </li>
  <li>
    <h4>Оплата секс-игрушек WebMoney:</h4>
    <p>В нашем интернет-магазине Вы можете оплатить заказ электронными деньгами. Мы принимаем WebMoney.</p>
    <p>Оплата товаров электронными деньгами осуществляется <strong>по 100% предоплате</strong>. 
    Для уточнения деталей свяжитесь с нашими менеджерами.</p>
  </li>
</ul>
{% endblock store_content %}
